[hidden] {
    display: none;
}

h1,h2,h3,h4,h5,p,a {
    color: white;
    font-family: 'Playfair Display', serif;
}

html,body {
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    margin: 10% 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}


video {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

section {
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

section button {
    margin: 10px;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}

section input[type=text] {
    margin: 10px;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
}

footer nav {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

footer nav a {
    cursor: pointer;
}

#results {
    text-align: center;
}